*.DS_Store
.ipynb_checkpoints/*
__pycache__/*
.vscode/*
deliverables/declaration.pdf

*/.ipynb_checkpoints/*
*/__pycache__/*
*/.vscode/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.ic

*/slurm-*

sim/gizmo.param
make_mergers.sh
