*.DS_Store
.ipynb_checkpoints/*
__pycache__/*
deliverables/declaration.pdf

*/.ipynb_checkpoints/*
*/__pycache__/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.out
*.synctex.gz
*.ic

deliverables/writeup/main.bbl
deliverables/writeup/main.bcf
deliverables/writeup/main.blg
deliverables/writeup/main.run.xml

*/slurm-*

notes/*
