*.DS_Store
.ipynb_checkpoints/*
__pycache__/*
.vscode/*
deliverables/declaration.pdf

*/.ipynb_checkpoints/*
*/__pycache__/*
*/.vscode/*
*.aux
*.fdb_latexmk
*.fls
*.log
*.toc
*.out
*.synctex.gz
*.ic

deliverables/writeup/main.bbl
deliverables/writeup/main.bcf
deliverables/writeup/main.blg
deliverables/writeup/main.run.xml

*/slurm-*

sim/gizmo.param
make_mergers.sh
notes/*
